<!DOCTYPE html>
<html xml:lang="en" xmlns:th="https://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Newsletter Module</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link th:href="@{css/style.css}" rel="stylesheet">
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Newsletter Module</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/newsletter}">Create Newsletter</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">


		<div class="row">
			<div class="col-lg-4 mb-4" th:each="item: ${newsletters}">
				<div class="card h-100">
					<h4 class="card-header" th:utext="${item.title}">Card Title</h4>
					<a href="#"><img class="card-img-top" th:src="${item.image}"
						alt=""></a>
					<div class="card-body" th:if="*{#strings.length(item.content)>99}">
						<p class="card-text">
							<i class="fa fa-clock-o" aria-hidden="true"> <span
								th:text="${#strings.substring(item.created,0,10)}"></span></i>
						</p>
						<p class="card-text"
							th:utext="${#strings.substring(item.content,0,99)}">Lorem
							ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
							necessitatibus neque.</p>
					</div>
					<div class="card-body" th:if="*{#strings.length(item.content)<=99}">
						<p class="card-text">
							<i class="fa fa-clock-o" aria-hidden="true"> <span
								th:text="${#strings.substring(item.created,0,10)}"></span></i>
						</p>
						<p class="card-text" th:utext="${item.content}">Lorem ipsum
							dolor sit amet, consectetur adipisicing elit. Sapiente esse
							necessitatibus neque.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">View More</a>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>